.EtherBlock-container {
  width: 300px;
  height: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5%;
}

/*
.EtherBlock-container:first-of-type {
  margin-top: 10px;
}
*/

.EtherBlock-container span {
  margin-left: 10px;
  margin-right: 10px;
}

.EtherBlock-container progress {
  padding-left: 10px;
  padding-right: 10px;
}

.EtherBlock-container .transaction {
  text-decoration: underline;
  text-align: center;
}
