.EtherBlock {
  min-width: 300px;
  min-height: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5%;
}

.EtherBlock header {
  margin-left: 10px;
}

.EtherBlock header > h1 {
  font-size: 1.5rem;
}

.EtherBlock section > p,
.EtherBlock div {
  margin-left: 10px;
  margin-right: 10px;
}

.EtherBlock .transaction {
  text-decoration: underline;
  text-align: center;
}
