.EtherBlock {
  min-width: 300px;
  min-height: 300px;
  text-align: left;
  display: flex;
  flex-direction: column;
  border: 1px solid;
  border-radius: 5%;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2);
}

.EtherBlock header {
  margin-left: 10px;
}

.EtherBlock header > * {
  font-weight: 100;
}

.EtherBlock header a {
  color: inherit;
}

.EtherBlock section > p,
.EtherBlock div {
  margin-left: 10px;
  margin-right: 10px;
}

.EtherBlock .transaction {
  text-decoration: underline;
  text-align: center;
  cursor: pointer;
}
