.TopBar {
  display: flex;
  border-bottom: 2px solid #000000;
  padding: 10px;
}

.TopBar-left {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start;
}

.TopBar-left > * {
  white-space: nowrap;
}
.TopBar-left > *,
.TopBar-right > * {
  margin: 0.5rem;
}

.TopBar-right {
  display: flex;
  flex-grow: 1;
}

.TopBar-right :nth-child(2) {
  margin-left: auto;
  white-space: nowrap;
}
