.EtherBlockPanel-container {
  display: flex;
  text-align: left;
}

.EtherBlockPanel-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.EtherBlockPanel-panel hr {
  width: 100%;
  height: 2px;
  border: 0px;
  background: #000000;
}

.EtherBlockPanel-scrollbar {
  display: flex;
  text-align: left;
}
