.EtherBlockPanel {
  display: flex;
  text-align: left;
  margin: 200px 20px 0 20px;
  overflow-y: auto;
  padding-bottom: 3px;
}

.EtherBlockPanel::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.EtherBlockPanel::-webkit-scrollbar-thumb {
  background: #f76725;
  border: 0px none #ffffff;
  border-radius: 15px;
}
.EtherBlockPanel::-webkit-scrollbar-thumb:hover {
  background: #f76725;
}
.EtherBlockPanel::-webkit-scrollbar-thumb:active {
  background: #f76725;
}
.EtherBlockPanel::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 15px;
}
.EtherBlockPanel::-webkit-scrollbar-track:hover {
  background: #666666;
}
.EtherBlockPanel::-webkit-scrollbar-track:active {
  background: #333333;
}
.EtherBlockPanel::-webkit-scrollbar-corner {
  background: transparent;
}

.EtherBlockPanel-panel {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.EtherBlockPanel-panel hr {
  width: 100%;
  min-width: 100px;
  height: 2px;
  border: 0px;
  background: #000000;
}

.EtherBlockPanel-scrollbar {
  display: flex;
  text-align: left;
}
