body {
  padding: 0;
  font-family: sans-serif;
}

a {
  color: #000000;
  text-decoration: none;
  transition: color 0.3s linear;
}

a:hover {
  color: #f76725;
  transition: color 0.3s linear;
}

button {
  cursor: pointer;
  user-select: none;
  outline: none;
  background-color: #ffffff;
}
