.Transactions-table {
  border-collapse: collapse;
  font-size: 0.9rem;
  margin: auto;
  align-self: flex-start;
}

.Transactions-table thead td {
  font-weight: bold;
  text-align: center;
  border-bottom: 1px solid #ddd;
  padding-bottom: 1rem;
}
.Transactions-row td {
  padding: 1rem 0.5rem;
  white-space: nowrap;
}
.Transactions-row small {
  opacity: 0.9;
  font-size: 0.6rem;
}
.Transactions-code {
  max-width: 90px;
  font-size: 0.6rem;
  overflow: auto;
}
.Transactions-row:nth-child(even) {
  background: #eee;
}
td.Transactions-value {
  text-align: center;
  padding-bottom: 0.5rem;
}
.Transactions-code::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.Transactions-code::-webkit-scrollbar-thumb {
  background: #ddd;
  border: 0px none #ffffff;
  border-radius: 15px;
}
.Transactions-out,
.Transactions-in {
  display: inline-block;
  padding: 0.1rem 0.3rem;
  color: #fff;
  text-transform: uppercase;
  border: 1px solid #000;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: bold;
  margin: 0.1rem;
}
.Transactions-out {
  background: #e65757;
  border-color: #a51717;
}
.Transactions-in {
  background: #35c335;
  border-color: #129e12;
}
